@import "../themes/mixin.styl"; //引入配置

// 公共表单控件样式
.bg
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    // backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);


.w1200
    width 1200px
    margin 0px auto

.flex-box
    display: flex
    justify-content space-between
    align-items: center

.flex-con
    display flex
    flex-direction row
    justify-content center
    align-items center

// input
.input
    height 44px;
    line-height: 44px
    width 100%
    display: inline-block;
    padding: 4px 7px;
    font-size: 14px;
    border-radius: 4px;

.input-m
    height 35px
    line-height: 35px
    width 100%


// button
.btn
    height 44px
    line-height: 44px
    width 100%
    font-size: 16px
    cursor: pointer
    border-radius: 4px
    font-weight: 500;

.btn-m
    height 38px
    line-height: 38px

.btn-r
    height 35px
    line-height: 35px
    border-radius: 25px

.btn-yzm
    width 120px

.btn-empty
    background transparent
    font_color(fc069)


// select
select
    height 44px
    line-height: 44px
    min-width 100px
    border-radius 4px


.select
    width 120px
    height 35px
    line-height 35px
    display inline-block
    border-radius 4px
    font-size 14px
    cursor pointer
    position relative

    span
        width 80%
        height 100%
        padding 0 10px
        display inline-block
        position absolute
        top 0
        left 0
        z-index 110

    .tri
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        position absolute
        right 6px
        top 14px
        z-index 110
        transition all .33s

        &.active
            transform rotate(180deg)


.common-btn
    width: 140px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    font_color(fc076)
    border-radius: 10px;
    margin: 0 auto;
    cursor pointer

    &.ok
        bg_img_linear(linear16, linear17)
        font_color(fc076)
        background-blend-mode: normal, normal;

    &.empty
        font_color(fc092)
        background url("~@img/comimages/home/bg/bg_btn04.png") center / contain no-repeat

    &.hidden
        bg_color(bg58)
        font_color(fc093)

    &.big
        width 290px
        height 60px
        line-height 60px
    &.ng
        font_color(fc08)
        bg_img_linear(linear12, linear12)
.common-down
    position relative
    cursor pointer

    &:after
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        //border-left: 13px solid transparent;
        //border-right: 13px solid transparent;
        //border-top: 20px solid rgba(143,152,178,.4);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18px;
        background-image url('~@/assets/images/comimages/center/down.svg')
        background-size: contain;

// 公共
.log-inp
    border none
    font-size 16px
    font_color(fc090)
    line-height 30px
    height 30px
    width 100%
    background-color transparent
    overflow hidden

    &:placeholder
        font_color(fc096)

// 登录按钮
.log-but
    width 100%
    height 50px
    line-height: 50px
    bg_color(bg56)
    border-radius: 10px
    font_color(fc077)
    border 0px
    font-size 18px
    outline: none
    display: flex
    justify-content: center
    cursor pointer

    .butf-w
        display: flex
        justify-content: center
        align-items: center

        .but-f
            font-size 18px
            padding 0px 4px 0px 30px

        .but-lad-wrap
            width 26px
            display: inline-block

            svg
                width 22px
                height 22px

.but-cur
    bg_img_linear(linear16, linear18)
    font_color(bg57)

.but-dis
    background-image: none !important
    bg_color(bg32)
    font_color(fc01)
