* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    position: relative;
    width: 900px;
    height: 250px;
    background-color: antiquewhite;
    margin: 200px auto;
}

div {
    position: absolute;
}

div>img {
    width: 300px;
    height: 200px;
}