$font1 : #808080;
$font3 : #666666;
$font11 : #909399;
$font2 : #999999;

$font4 : #409eff;
$font16 : #b3d8ff;
$font17 : #a0cfff;
$font18 : #ecf5ff;
$font5 : #DCDFE6;

$font6 : #67c23a;
$font14 : #c2e7b0;
$font15 : #b3e19d;
$font15 : #f0f9eb;

$font7 : #e6a23c;
$font12 : #f5dab1;
$font13 : #fdf6ec;

$font8 : #f56c6c;
$font9 : #fbc4c4;
$font10 : #fef0f0;
$font19 : #fab6b6;

// flex 布局
@mixin flex-fun{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

// 上箭头
@mixin triangle-top-fun($w, $h, $color){
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $w $h $w;
  border-color: transparent transparent $color transparent;
}
