@keyframes hvr-wobble-bottom
    16.65%
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    33.3%
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    49.95%
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    66.6%
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    83.25%
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    100%
        -webkit-transform: skew(0);
        transform: skew(0);

.hvr-wobble-bottom
    display inline-block
    vertical-align middle
    -webkit-transform perspective(1px) translateZ(0)
    transform perspective(1px) translateZ(0)
    box-shadow 0 0 1px rgba(0, 0, 0, 0)
    -webkit-transform-origin 100% 0
    transform-origin 100% 0

    &:hover
    &:focus
    &:active
        -webkit-animation-name hvr-wobble-bottom
        animation-name hvr-wobble-bottom
        -webkit-animation-duration 1s
        animation-duration 1s
        -webkit-animation-timing-function ease-in-out
        animation-timing-function ease-in-out
        -webkit-animation-iteration-count 1
        animation-iteration-count 1

// 先放大后缩小
@keyframes hvr-pop
    50%
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
.hvr-pop
    display inline-block
    vertical-align middle
    -webkit-transform perspective(1px) translateZ(0)
    transform perspective(1px) translateZ(0)
    box-shadow 0 0 1px rgba(0, 0, 0, 0)

    &:hover, &:focus, &:active
        animation-name hvr-pop
        animation-duration 0.5s
        animation-timing-function linear
        animation-iteration-count 1

// 放大
.hvr-grow
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;

    &:hover, &:focus, &:active
        transform: scale(1.05);

// 向上放大 底部阴影
.hvr-float-shadow
    display inline-block
    vertical-align middle
    transform perspective(1px) translateZ(0)
    box-shadow 0 0 1px rgba(0, 0, 0, 0)
    position relative
    transition-duration 0.3s
    transition-property transform
    &:before
        pointer-events none
        position absolute
        z-index 2
        content ''
        top 100%
        left 5%
        height 10px
        width 90%
        opacity 0
        background radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%)
        transition-duration 0.3s
        transition-property transform, opacity
    &:hover, &:focus, &:active
        transform translateY(-10px)
    &:hover:before, &:focus:before, &:active:before
        opacity 1
        transform translateY(10px)


// 向上移动 一直跳动
@keyframes hvr-bob
    0%
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    50%
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    100%
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);

@keyframes hvr-bob-float
    100%
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);

.hvr-bob
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover, &:focus, &:active
        animation-name: hvr-bob-float, hvr-bob;
        animation-duration: .3s, 1.5s;
        animation-delay: 0s, .3s;
        animation-timing-function: ease-out, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;

// 一直跳动
.hvr-bob2
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;

// 向上移动
.hvr-float
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    &:hover, &:focus, &:active
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);

// 放大 闪动
@keyframes hvr-pulse-grow
    to
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

.hvr-pulse-grow
    //display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover, &:focus, &:active
        -webkit-animation-name: hvr-pulse-grow;
        animation-name: hvr-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
