.ddItem {
  background-color: pink;
  height: 100px;
  .ffItem {
    background-color: green;
    height: 30px;
  }
}
.ee {
  background-color: greenyellow;
  .ffItem {
    background-color: red;
    height: 30px;
  }
}